<h1>Listing blueprints</h1>

<table>
  <thead>
    <tr>
      <th>Blueprint</th>
      <th>Name</th>
      <th>Description</th>
      <th>Container</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blueprints.each do |blueprint| %>
      <tr>
        <td><%= blueprint.blueprint_id %></td>
        <td><%= blueprint.name %></td>
        <td><%= blueprint.description %></td>
        <td><%= blueprint.container %></td>
        <td><%= link_to 'Show', blueprint %></td>
        <td><%= link_to 'Edit', edit_blueprint_path(blueprint) %></td>
        <td><%= link_to 'Destroy', blueprint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blueprint', new_blueprint_path %>
